h1 {
  color: #272727;
  text-align: center;
}

h3 {
  color: #272727;
  text-align: center;
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* Typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@media (prefers-color-scheme: dark) {
  h1, h2, h3, h4, p {
    color: #fafafa;
  }

  input {
    border-color: #fafafa;
  }

  button {
    background-color: #fafafa;
    color: 272727;
  }
}
